*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--Soft-red: hsl(7, 99%, 70%);
	--Yellow: hsl(51, 100%, 49%);
	--Dark-desaturated-cyan: hsl(167, 40%, 24%);
	--Dark-blue: hsl(198, 62%, 26%);
	--Dark-moderate-cyan: hsl(168, 34%, 41%);

	--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--Very-dark-grayish-blue: hsl(213, 9%, 39%);
	--Dark-grayish-blue: hsl(232, 10%, 55%);
	--Grayish-blue: hsl(210, 4%, 67%);
	--White: hsl(0, 0%, 100%);
}

body {
	font-size: 18px;
	margin: 0;
	font-family: 'Fraunces', serif;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: #000;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	font-family: 'Barlow', sans-serif;
	line-height: 1.6;
}

/* buttons */
.btn {
	display: inline-block;
	padding: 1em;
}

.btn-primary,
.btn-secondary {
	position: relative;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.2rem;
}

.btn-primary::before {
	background: var(--Yellow);
}

.btn-secondary::before {
	background: var(--Soft-red);
}

.btn-primary::before,
.btn-secondary::before {
	position: absolute;
	content: '';
	bottom: 16px;
	left: 13px;
	width: 160px;
	height: 12px;
	border-radius: 100vh;
	z-index: -1;
}

/* General layout */
.container {
	width: 90%;
	max-width: 375px;
	margin: 0 auto;
}
header,
footer {
	padding: 2em 0;
}

section {
	text-align: center;
}

/* header */
header {
	background-color: var(--Dark-blue);
	background: url(../images/mobile/image-header.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	color: var(--White);
}

/* mobile menu */
.menu {
	cursor: pointer;
	padding: 0.3em;
}

.menubar {
	transition: 0.4s;
	width: 25px;
	height: 2px;
	background: var(--White);
	margin: 6px 0;
	margin-top: 0;
}

.change .bar1 {
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(45deg) translate(-8px, -8px);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mobile-menu {
	position: fixed;
	top: 100px;
	right: 0px;
	width: 70%;
	max-width: 250px;
	background: var(--White);
	height: 250px;
	z-index: 2;
	padding: 2em 0;
	transform: translateX(0);
	transition: transform 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-link {
	font-family: 'Barlow', sans-serif;
	color: var(--Dark-grayish-blue);
	display: block;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 1.1rem;
}

.current {
	background: var(--Yellow);
	color: var(--Dark-desaturated-cyan);
	border-radius: 100vh;
	padding: 0.8em 1.3em;
	text-transform: uppercase;
	font-family: 'Fraunces', serif;
	font-size: 0.9rem;
}

/* hero */

.hero {
	text-align: center;
	padding: 2em 0 6.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-title {
	font-size: 2.3rem;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin-bottom: 1.5em;
}

/* section transform */
.transform-flex {
	display: flex;
	flex-direction: column;
}

.transform-img {
	order: -1;
}

/* section stand out */
.standout-flex {
	display: flex;
	flex-direction: column;
}

.transform-info,
.standout-info {
	padding: 4em 0;
}

.standout-img {
	order: -1;
}

.transform-title,
.standout-title {
	font-size: 2.5rem;
	margin-top: 0;
	color: var(--Very-dark-desaturated-blue);
}

.transform-subtitle,
.standout-subtitle {
	color: var(--Very-dark-grayish-blue);
	max-width: 32ch;
	margin-left: auto;
	margin-right: auto;
}

/* two images section */

.design {
	background: url(../images/mobile/image-graphic-design.jpg) no-repeat;
	background-position: center;
}

.photography {
	background: url(../images/mobile/image-photography.jpg) no-repeat;
	background-position: center;
}

.design-info,
.photography-info {
	padding-top: 100%;
	color: var(--Dark-desaturated-cyan);
}

.design,
.photography {
	background-size: cover;
	padding: 2em 0;
}

.photography-info {
	color: var(--Dark-blue);
}

.img-title {
	text-transform: capitalize;
}

.tests {
	padding: 2em 0;
}

.tests-heading {
	text-transform: uppercase;
	letter-spacing: 5px;
	color: var(--Grayish-blue);
	margin-bottom: 3em;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.card-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-testimonial {
	max-width: 32ch;
	margin-left: auto;
	margin-right: auto;
	color: var(--Very-dark-grayish-blue);
}

.card-img {
	max-width: 70px;
	border-radius: 100vh;
}

.card-name {
	margin-bottom: 0.3em;
	color: var(--Dark-desaturated-cyan);
}

.card-info {
	margin-top: 0;
	color: var(--Grayish-blue);
}

/* image gallery section*/
.img-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0;
}

/* footer */
footer {
	background: var(--Dark-moderate-cyan);
	font-family: 'Barlow', sans-serif;
	padding: 4em 0 5em;
}

footer .logo img {
	width: 200px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
}

.link-items {
	display: flex;
}

.link-items a {
	color: var(--Dark-blue);
}

.link + .link {
	margin-left: 2.5em;
}

.icons {
	display: flex;
	margin-top: 2.5em;
}

.icon + .icon {
	margin-left: 1.5em;
}
